@charset "UTF-8";

@media screen and (min-width: 480px) {

    

}

@media screen and (min-width: 600px) {
    main {
        flex-direction: row;
    }

    article#conteudo {
        width: 70%;
        flex-wrap: wrap;
    }

    .card {
        width: 49%;
    }

    .card-3 {
        order: 4;
    }
    
    .card-4 {
        order: 5;
    }
    .artigo {
        order: 3;
    }

    aside#banner {
        width: 30%;
    }

}

@media screen and (min-width: 768px){

    nav ul#menu {
        display: flex!important;
        flex-direction: row;
        position: relative;
        padding: 0;
        top: 0;
        background-color: var(--cor0);

    }

    nav ul#menu li:not(:last-child) {
        margin-bottom: 0;
        margin-right: 15px;
    }
    nav ul#button {
        display: none;
    }

    .card {
        width: 24%;
    }

    .card-3 {
        order: 3;
    }
    
    .card-4 {
        order: 4;
    }    
    .artigo {
        order: 5;
    }

}